/* ---

Primary styles

--- */
html * {
  -webkit-font-smoothing: antialized;
  -moz-osx-font-smoothing: grayscale; }

*, *:after, *:before {
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Ubuntu", sans-serif;
  color: #3e3947;
  background-color: #fff; }

body, html {
  height: 100%; }

a {
  color: #3e3947;
  text-decoration: none; }

img {
  max-width: 100%; }

/* ---

Main Component

--- */
#section1 {
  min-height: 90% !important; }

.cd-section {
  min-height: 100%;
  position: relative;
  padding: 2em; }
  .cd-section h1 {
    color: #fff; }
  .cd-section:nth-of-type(odd) {
    background-color: #3e3947; }
    .cd-section:nth-of-type(odd) p {
      color: #898099; }
  .cd-section:nth-of-type(even) {
    background-color: #745360; }
    .cd-section:nth-of-type(even) p {
      color: #bda3ad; }
  .cd-section h1, .cd-section p {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    text-align: center; }
  .cd-section h1 {
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    font-size: 1.25rem; }
  .cd-section p {
    line-height: 1.6; }
  @media only screen and (min-width: 768px) {
    .cd-section h1 {
      font-size: 40px;
      font-size: 2.5rem; }
    .cd-section p {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 2; } }

/* Non touch device */
.no-touch #cd-vert-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1; }
  .no-touch #cd-vert-nav li {
    text-align: right; }
  .no-touch #cd-vert-nav a {
    display: inline-block;
    /* prevent weirdness with CSS3 transforms in webkit */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .no-touch #cd-vert-nav a::after {
      clear: both;
      content: "";
      display: table; }
    .no-touch #cd-vert-nav a span {
      float: right;
      display: inline-block;
      -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
      -ms-transform: scale(0.5);
      -o-transform: scale(0.5);
      transform: scale(0.5); }
    .no-touch #cd-vert-nav a:hover span {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    .no-touch #cd-vert-nav a:hover .cd-label {
      opacity: 1; }
    .no-touch #cd-vert-nav a.is-selected .cd-dot {
      background-color: #fff; }
    .no-touch #cd-vert-nav a .cd-dot {
      position: relative;
      top: 10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #d88683;
      transition: transform 0.2s, background-color 0.5s;
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      transform-origin: 50% 50%; }
    .no-touch #cd-vert-nav a .cd-label {
      position: relative;
      margin-right: 10px;
      padding: .8em .7em;
      color: #fff;
      font-size: 16px;
      font-size: 1rem;
      transition: transform 0.2s, opacity 0.2s;
      opacity: 0;
      -webkit-transform-origin: 100% 50%;
      -moz-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
      -o-transform-origin: 100% 50%;
      transform-origin: 100% 50%; }
