/*  Rotating Text */
.words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left; }
  .words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0; }
    .words-wrapper b.is-visible {
      position: relative; }
  .no-js .words-wrapper b {
    opacity: 0; }
    .no-js .words-wrapper b.is-visible {
      opacity: 1; }

.headline.clip .words-wrapper {
  overflow: hidden;
  vertical-align: top; }
.headline.clip span {
  display: inline-block; }
.headline.clip .words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%; }
.headline.clip b {
  opacity: 0; }
  .headline.clip b.is-visible {
    opacity: 1; }

/* ---

Primary styles

--- */
html * {
  -webkit-font-smoothing: antialized;
  -moz-osx-font-smoothing: grayscale; }

*,
*:after,
*:before {
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Raleway", sans-serif;
  color: #1ec6ba;
  background-color: #e6e7db; }

body,
html {
  height: 100%; }

a {
  color: #1ec6ba;
  text-decoration: none; }

img {
  max-width: 100%; }

/* --------------------------------

Reusable parts, i.e modules

-------------------------------- */
.cd-img-replace {
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

/* ---

Main Component

--- */
#section1 {
  min-height: 100% !important;
  background-color: transparent !important;
  background: url("../images/screenshot.png") no-repeat top left;
  background-size: cover; }

.cd-section {
  min-height: 100%;
  position: relative;
  padding: 2em; }
  .cd-section .centerer {
    position: relative;
    width: 90%; }
  .cd-section:nth-of-type(even) {
    background-color: #1ec6ba; }
    .cd-section:nth-of-type(even) p, .cd-section:nth-of-type(even) h4, .cd-section:nth-of-type(even) li, .cd-section:nth-of-type(even) h2 {
      color: #0a413d; }
  .cd-section:nth-of-type(odd) {
    background-color: #2c7d9b; }
    .cd-section:nth-of-type(odd) p, .cd-section:nth-of-type(odd) h4, .cd-section:nth-of-type(odd) li, .cd-section:nth-of-type(odd) h2 {
      color: #0a1d24; }
  .cd-section li {
    line-height: 1.6;
    list-style: disc;
    margin-left: 3em; }
  .cd-section h2 {
    margin-top: 2em;
    margin: 1em auto;
    font-size: 30px;
    font-size: 1.875rem; }
  .cd-section p, .cd-section h4, .cd-section li {
    margin: auto;
    line-height: 1.6; }
  .cd-section h4 {
    font-weight: bold;
    margin: 1em auto;
    font-size: 20px;
    font-size: 1.25rem; }
  @media only screen and (min-width: 768px) {
    .cd-section .centerer {
      position: absolute;
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
    .cd-section h1 {
      font-size: 120px;
      font-size: 7.5rem; }
    .cd-section p, .cd-section h4, .cd-section li, .cd-section h2 {
      width: 90%; }
    .cd-section p, .cd-section li {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 2; } }

/* Non touch device */
.cd-nav-trigger {
  display: none; }

.no-touch #cd-vert-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1; }
  .no-touch #cd-vert-nav li {
    text-align: right; }
  .no-touch #cd-vert-nav a {
    display: inline-block;
    /* prevent weirdness with CSS3 transforms in webkit */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .no-touch #cd-vert-nav a::after {
      clear: both;
      content: "";
      display: table; }
    .no-touch #cd-vert-nav a span {
      float: right;
      display: inline-block;
      -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
      -ms-transform: scale(0.5);
      -o-transform: scale(0.5);
      transform: scale(0.5); }
    .no-touch #cd-vert-nav a:hover span {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    .no-touch #cd-vert-nav a:hover .cd-label {
      opacity: 1; }
    .no-touch #cd-vert-nav a.is-selected .cd-dot {
      background-color: #e6e7db; }
    .no-touch #cd-vert-nav a .cd-dot {
      position: relative;
      top: 10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #80fdd9;
      transition: transform 0.2s, background-color 0.5s;
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      transform-origin: 50% 50%; }
    .no-touch #cd-vert-nav a .cd-label {
      position: relative;
      margin-right: 10px;
      padding: 0.8em 0.7em;
      color: #e6e7db;
      font-size: 16px;
      font-size: 1rem;
      transition: transform 0.2s, opacity 0.2s;
      opacity: 0;
      -webkit-transform-origin: 100% 50%;
      -moz-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
      -o-transform-origin: 100% 50%;
      transform-origin: 100% 50%; }

/* Touch devices */
.touch .cd-nav-trigger {
  display: block;
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 5%;
  height: 52px;
  width: 52px;
  border-radius: 0.25em;
  background: rgba(41, 55, 63, 0.95); }
  .touch .cd-nav-trigger span {
    position: absolute;
    height: 4px;
    width: 4px;
    background-color: #1ec6ba;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    .touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      background-color: inherit;
      border-radius: inherit; }
    .touch .cd-nav-trigger span::before {
      top: -9px; }
    .touch .cd-nav-trigger span::after {
      bottom: -9px; }

.touch #cd-vert-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: rgba(41, 55, 63, 0.95); }
  .touch #cd-vert-nav a {
    display: block;
    padding: 1em;
    border-bottom: 1px solid rgba(30, 198, 186, 0.1); }
    .touch #cd-vert-nav a span:first-child {
      display: none; }
    .touch #cd-vert-nav a.is-selected span:last-child {
      color: #80fdd9; }
  .touch #cd-vert-nav.open {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  .touch #cd-vert-nav.open + .cd-nav-trigger {
    background-color: transparent; }
    .touch #cd-vert-nav.open + .cd-nav-trigger span {
      background-color: rgba(30, 198, 186, 0); }
    .touch #cd-vert-nav.open + .cd-nav-trigger span::before,
    .touch #cd-vert-nav.open + .cd-nav-trigger span::after {
      background-color: #1ec6ba;
      height: 3px;
      width: 20px;
      border-radius: 0;
      left: -8px; }
    .touch #cd-vert-nav.open + .cd-nav-trigger span::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 1px; }
    .touch #cd-vert-nav.open + .cd-nav-trigger span::after {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      bottom: 0; }
  .touch #cd-vert-nav li:last-child a {
    border-bottom: none; }

@media only screen and (min-width: 768px) {
  .touch .cd-nav-trigger,
  .touch #cd-vert-nav {
    bottom: 40px; } }
/*
    Hero
*/
.hero {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  text-align: center; }
  .hero img {
    width: 100%;
    max-width: 800px; }
  .hero h2 {
    color: #e6e7db !important;
    font-size: 50px;
    font-size: 3.125rem; }

/*
    Maps
*/
#google-container {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #2c7d9b; }
  @media only screen and (min-width: 768px) {
    #google-container {
      height: 300px; } }
  @media only screen and (min-width: 1170px) {
    #google-container {
      height: 600px; } }

#cd-google-map {
  position: relative; }
  #cd-google-map address {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1em 1em;
    background-color: #2c7d9b;
    color: #e6e7db;
    font-size: 13px;
    font-size: 0.8125rem; }
    @media only screen and (min-width: 768px) {
      #cd-google-map address {
        font-size: 15px;
        font-size: 0.9375rem;
        text-align: center; } }

#cd-zoom-in, #cd-zoom-out {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: rgba(30, 198, 186, 0.9);
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url("../images/cd-icon-controller.svg"); }
  .no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover {
    background-color: #1ec6ba; }
  @media only screen and (min-width: 768px) {
    #cd-zoom-in, #cd-zoom-out {
      margin-left: 50px; } }

#cd-zoom-in {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px; }
  @media only screen and (min-width: 768px) {
    #cd-zoom-in {
      margin-top: 50px; } }

#cd-zoom-out {
  background-position: 50% -32px; }

/*
    Footer
*/
footer {
  padding: 3em 1em;
  text-align: center;
  background-color: #232222; }
  footer li {
    display: inline-block;
    margin: 0 1em; }
    footer li a {
      color: #AAB6B5; }
      footer li a:hover {
        color: #1ec6ba; }
