@import 'bourbon'; // http://bourbon.io/

@import "../partials/_variables.scss"; // contains all fonts, colors...

@import "../partials/_mixins.scss"; // some custom mixins

@import "../partials/_layout.scss"; // media queries etc.

/* ---

Primary styles

--- */

html * {
    -webkit-font-smoothing: antialized;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    box-sizing: border-box;
}

body {
    font: {
        size: 100%;
        family: $primary-font;
    }
    color: $color-1;
    background-color: $color-4;
}

body, html {
    height: 100%;
}

a {
    color: $color-1;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* ---

Main Component

--- */
#section1 {
    min-height: 90% !important;
}

.cd-section {
    min-height: 100%;
    position: relative;
    padding: 2em;

    h1 {
        color: $color-4;
    }

    &:nth-of-type(odd) {
        background-color: $color-1;

        p {
            color: lighten($color-1, 30%);
        }
    }

    &:nth-of-type(even) {
        background-color: $color-2;

        p {
            color: lighten($color-2, 30%);
        }
    }

    h1, p {
		position: absolute;
		@include center;
		width: 90%;
		text-align: center;
	}

	h1 {
		color: $color-4;
		font-weight: 300;
		text-transform: uppercase;
        @include font-size(40px);
	}

	p {
		line-height: 1.6;
	}
}

/* Non touch device */
.no-touch #cd-vert-nav {
    position: fixed;
    right: 40px;
    @include center(y); // center verticaly, see _mixins.scss
    z-index: 1;

    li {
        text-align: right;
    }

    a {
        display: inline-block;
        @include clearfix;

        /* prevent weirdness with CSS3 transforms in webkit */
		@include backface-visibility(hidden);

        span {
            float: right;
            display: inline-block;
            @include transform(scale(.5));
        }

        &:hover span {
            @include transform(scale(1));
        }

        &:hover .cd-label {
            opacity: 1;
        }

        &.is-selected .cd-dot {
            background-color: $color-4;
        }

        .cd-dot {
            position: relative;
            top: 10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $color-3;
            transition: transform 0.2s, background-color 0.5s;
            @include transform-origin(50% 50%);
        }

        .cd-label {
            position: relative;
            margin-right: 10px;
            padding: .6em .7em;
            color: $color-4;
            @include font-size(16px);

            transition: transform 0.2s, opacity 0.2s;
            opacity: 0;
            @include transform-origin(100% 50%);
        }
    }
}
