@import 'bourbon';
// http://bourbon.io/
@import "../partials/_variables.scss";
// contains all fonts, colors...
@import "../partials/_mixins.scss";
// some custom mixins
@import "../partials/_layout.scss";
// media queries etc.
/* ---

Primary styles

--- */
html * {
    -webkit-font-smoothing: antialized;
    -moz-osx-font-smoothing: grayscale;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}
body {
    font: {
        size: 100%;
        family: $primary-font;
    }
    color: $color-1;
    background-color: $color-4;
}
body,
html {
    height: 100%;
}
a {
    color: $color-1;
    text-decoration: none;
}
img {
    max-width: 100%;
}
/* --------------------------------

Reusable parts, i.e modules

-------------------------------- */
// Replaces text with a background-image
.cd-img-replace {
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
/* ---

Main Component

--- */
#section1 {
    min-height: 90% !important;
    background-color: transparent !important;
    background: url("../images/stardust.png") no-repeat center center fixed;
    background-size: cover;
}
.cd-section {
    min-height: 100%;
    position: relative;
    padding: 2em;

    .centerer {
        position: relative;
        width: 90%;
    }

    h1 {
        text-align: center;
        color: $color-4;
    }
    &:nth-of-type(even) {
        background-color: $color-1;
        p, h4, li {
            color: darken($color-1, 10%);
        }
    }
    &:nth-of-type(odd) {
        background-color: $color-2;
        p, h4, li {
            color: darken($color-2, 10%);
        }
    }
    h1 {
        position: absolute;
        @include center;
        width: 90%;
    }
    li {
        line-height: 1.6;
        list-style: disc;
        margin-left: 3em;
    }
    h1 {
        color: $color-4;
        font-weight: 300;
        text-transform: uppercase;
        @include font-size(40px);
    }
    h2 {
        color: saturate($color-4, 30%);
        margin-top: 2em;
        margin: 1em auto;
        @include font-size(30px);
    }
    p, h4, li {
        margin: auto;
        line-height: 1.6;
    }
    h4 {
        font-weight: bold;
        margin: 1em auto;
        @include font-size(20px);
    }
    @include MQ(M) {

        .centerer {
            position: absolute;
            @include center;
        }

        h1 {
            @include font-size(70px);
        }
        p, h4, li, h2 {
            width: 90%;
        }
        p, li {
            @include font-size(20px);
            line-height: 2;
        }
    }
}
/* Non touch device */
.cd-nav-trigger {
    display: none;
}
.no-touch #cd-vert-nav {
    position: fixed;
    right: 40px;
    @include center(y);
    // center verticaly, see _mixins.scss
    z-index: 1;
    li {
        text-align: right;
    }
    a {
        display: inline-block;
        @include clearfix;
        /* prevent weirdness with CSS3 transforms in webkit */
        @include backface-visibility(hidden);
        span {
            float: right;
            display: inline-block;
            @include transform(scale(.5));
        }
        &:hover span {
            @include transform(scale(1));
        }
        &:hover .cd-label {
            opacity: 1;
        }
        &.is-selected .cd-dot {
            background-color: $color-4;
        }
        .cd-dot {
            position: relative;
            top: 10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $color-3;
            transition: transform 0.2s, background-color 0.5s;
            @include transform-origin(50% 50%);
        }
        .cd-label {
            position: relative;
            margin-right: 10px;
            padding: 0.8em 0.7em;
            color: $color-4;
            @include font-size(16px);
            transition: transform 0.2s, opacity 0.2s;
            opacity: 0;
            @include transform-origin(100% 50%);
        }
    }
}
/* Touch devices */
.touch .cd-nav-trigger {
    display: block;
    z-index: 2;
    position: fixed;
    bottom: 30px;
    right: 5%;
    height: 52px;
    width: 52px;
    @include border-radius;
    background: rgba($color-4, .9);
    span {
        position: absolute;
        height: 4px;
        width: 4px;
        background-color: $color-1;
        border-radius: 50%;
        @include center;
        &::before,
        &::after {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            background-color: inherit;
            border-radius: inherit;
        }
        &::before {
            top: -9px;
        }
        &::after {
            bottom: -9px;
        }
    }
}
.touch #cd-vert-nav {
    position: fixed;
    z-index: 1;
    right: 5%;
    bottom: 30px;
    width: 90%;
    max-width: 400px;
    max-height: 90%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    @include transform-origin(right bottom);
    @include transform(scale(0));
    @include transition-property(transform);
    @include transition-duration(.2s);
    @include border-radius;
    background-color: rgba($color-4, .9);
    a {
        display: block;
        padding: 1em;
        border-bottom: 1px solid rgba($color-1, .1);
        span:first-child {
            display: none;
        }
        &.is-selected span:last-child {
            color: $color-3;
        }
    }
    &.open {
        @include transform(scale(1));
    }
    &.open + .cd-nav-trigger {
        background-color: transparent;
        span {
            background-color: rgba($color-1, 0);
        }
        span::before,
        span::after {
            background-color: rgba($color-1, 1);
            height: 3px;
            width: 20px;
            border-radius: 0;
            left: -8px;
        }
        span::before {
            @include transform(rotate(45deg));
            top: 1px;
        }
        span::after {
            @include transform(rotate(135deg));
            bottom: 0;
        }
    }
    li:last-child a {
        border-bottom: none;
    }
}
@include MQ(M) {
    .touch .cd-nav-trigger,
    .touch #cd-vert-nav {
        bottom: 40px;
    }
}
