// screen size breakpoints
$small:  320px;
$medium: 768px;
$large: 1170px;

// media queries
@mixin MQ($canvas) {
    @if $canvas == S {
        @media only screen and (min-width: $small) { @content; }
    }
    @else if $canvas == M {
        @media only screen and (min-width: $medium) { @content; }
    }
    @else if $canvas == L {
        @media only screen and (min-width: $large) { @content; }
    }
}
