
// colors
$color-1: #1ec6ba; // turquoise
$color-2: #2c7d9b; // blue
$color-3: #80fdd9; // light green
$color-4: #e6e7db; // white-ich
$color-5: #29373F; // Better contrast then 4, for mobile

// fonts
$primary_font: 'Raleway', sans-serif;
