/*  Rotating Text */
.words-wrapper {
	display: inline-block;
	position: relative;
	text-align: left;

	b {
		display: inline-block;
		position: absolute;
		white-space: nowrap;
		left: 0;
		top: 0;

		&.is-visible {
			position: relative;
		}
	}

	.no-js & b {
		opacity: 0;

		&.is-visible {
			opacity: 1;
		}
	}
}

.headline.clip {
    .words-wrapper {
      overflow: hidden;
      vertical-align: top;
    }
    span {
      display: inline-block;
    }

    .words-wrapper::after {
      /* line */
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 2px;
      height: 100%;
    }

    b {
        opacity: 0;

        &.is-visible {
            opacity: 1;
        }
    }
}
