<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <img src="{{ .Site.BaseURL }}assets/logo.png"/>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item {{ if eq .URL "/" }} active {{ end }}" href="/">Start</a>
    <!-- <a class="sidebar-nav-item {{ if eq .URL "/post/" }} active {{ end }}" href="/post">Inlägg</a> -->

    {{ $thisperma := .Permalink }}
    {{ range .Site.Pages.ByWeight }}
      {{ if and (isset .Params "sidebar") (eq .Params.sidebar true) }}
        <a class="sidebar-nav-item {{ if eq .Permalink $thisperma }} active {{ end }}" href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
    {{ end }}

    <a class="sidebar-nav-item" href="{{ .Site.Params.Protocols }}">Protokoll</a>
    <a class="sidebar-nav-item" href="{{ .Site.Params.Github }}">LiTHe kods GitHub</a>
    <a class="sidebar-nav-item" href="{{ .Site.Params.Byelaws }}">Stadgar</a>
  </nav>

  <div class="sidebar-item">
    <p>&copy; {{ .Site.LastChange.Year }}. All rights reserved.</p>
  </div>
</div>
