{{ partial "default_head.html" . }}

<div>
<img class="img--is-100vw-wide" src="/assets/spotify2016-2.jpg">

<h2>Vilka är vi?</h2>

<p>
LiTHe kod är en studentförening vid Linköpings Universitet vars syfte är att främja och inspirera intresset för programmering, mjukvaruutveckling och allt som hör till.
</p>

<p>
Vi grundades hösten 2013 för att anordna kodstugor där studenter kunde träffas, prata och hjälpa varandra med allt kodrelaterat.
Vi har sedan dess fortsatt att utvecklas och arrangerar idag en rad olika typer av aktiviteter såsom studiebesök, workshops, föreläsningar, Game-Jams, programmeringstävlingar och såklart kodstugor.
</p>

<p>
Här är några länkar till olika evenemang som vi anordnar:
<ul>
  <li><a href="https://www.ida.liu.se/projects/impa/new/">IDA-Mästerskapet i Programmering och Algoritmer (IMPA)</a></li>
  <li><a href="http://liugamejam.se/">LiU Game Jam</a></li>
</ul>
</p>

<h2>Är du student?</h2>
<p>
Tokfint! Det är nämligen just dig som vi jobbar för. För oavsett dina kunskaper så finns det alltid någon aktivitet för just dig och dina intressen inom programmering.
</p>

<p>
Kanske du vill lära dig mer om hur versionshantering i Git fungerar, kanske du vill höra om hur det är att jobba på Spotify eller bara träffa nya människor med samma intressen som dig!
</p>

<h2>Är du företagare?</h2>
<p>
LiTHe kod är en knytpunkt där många av de vassaste och mest engagerade data/IT studenterna vid Linköpings Universitet ingår.
</p>

<p>
Genom att samarbeta med oss och anordna aktiviteter så får ni ett utmärkt tillfälle att träffa dessa studenter och skapa ett intresse för er som framtida arbetsgivare.
</p>
</div>

{{ partial "default_foot.html" . }}
